{
    "title": "NewTest Post",
    "path": "new-tester-post",
    "description": "A simple test post, for me to play with",
    "date": "December 2nd, 2016"
}

<img src="../test-post/logo.png">

<pre>
console.log('hey');
</pre>
