{
    "title": "NewTest Post",
    "path": "new-test-post",
    "description": "A simple test post, for me to play with",
    "date": "March 1st, 2016"
}

<img src="../test-post/logo.png">

<pre>
console.log('hey');
</pre>
