{
    "title": "Test Post",
    "path": "test-post",
    "description": "A simple test post, for me to play with",
    "date": "December 1st, 2016"
}

<img src="../test-post/logo.png">

<pre>
console.log('hey');
</pre>
